---
---

/*!
 * The Custom Stylesheet for My Website
 * Contains extra styling code to supplement the Grayscale  Bootstrap Theme
 * 
 * By Benjamin A.
 * 
 * Code copyright Benjamin A.
 */

@import "variables";

.no-top-margin {
    margin-top: 10px !important;
    padding-top: 10px !important;
    @media(min-width:767px) {
        margin-top: 15px !important;
        padding-top: 15px !important;
    }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.hidden {
    display: none;
}

.darktheme-text {
    color: $darktheme-font-color !important;
}

.about-description {
    p {
        font-size: 12px !important;
    }
}

.jumbotron-transparent {
    opacity: 0.9;
}

.jumbotron-small {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.no-bottom-margin {
    margin: 0 0 5px !important;
}

.small-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.no-border {
    border: 0px !important;
}
