
<!-- Intro Start -->

<div class="intro" id="about">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
<!--             <h6>&nbsp;</h6> -->
            <span class="intro-text darktheme-text">{{ content }}</span>
<!--             <h6>&nbsp;</h6> -->
            <br/>
            <a href="#about" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
<!--             <h2>&nbsp;</h2> -->
            <div class="jumbotron jumbotron-transparent jumbotron-small">
            <p><small>Benjamin A., aka scitronboy, is a 13-year old boy who loves science, technology, electronics, robotics, programming, 3d printing, reading, and making. He plays the violin and homeschools. He lives in Colorado with his family which includes his sister, his cat Lulu, and his dog Coco.
            </small></p>
            <p><small>He always has a messy workbench!</small></p>
            </div>
<!--             <h2 class="brand-heading">&nbsp;</h2> -->
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Intro End -->
