
<!-- Contact Start -->

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2>Contact</h2>
      <p>If you need to, you can contact me with the form below.</p>
      
      <form action="https://getsimpleform.com/messages?form_api_token={{ site.form-api-token }}" method="post">

        <input type='hidden' name='form' value='Contact Form' />
        
        <div class="form-group">
        <input type='text' class="form-control" name='name' placeholder="Your Name" />
        </div>

        <div class="form-group">
        <input type='email' class="form-control" name='email' placeholder="Your Email (for me to reply to)" />
        </div>
        
        <div class="form-group">
        <textarea type="text" rows="5" class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
        </div>

        <div class="form-group">
        <input type='submit' class="btn btn-default" value='Send Message' />
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Contact End -->
