
<!-- Contact Start -->

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2>Contact</h2>
      <!--<p>Feedback about this site is much appreciated, as it is very new and is definitely not finished. The contact feature is not finished yet, so please just comment on <a href="/random/2018/07/27/First-post.html">one of my blog posts</a> instead.</p>-->
      <p>Feedback about this site is much appreciated, as it is very new and is definitely not finished.</p>
      <p>To contact me, just fill out the form below. If you  want me to reply back to you, leave your email in the Your Email field.</p>
      
      <form action="https://getsimpleform.com/messages?form_api_token=4923b1bd96b8bc654e1dd3eb8f0869cd" method="post">

        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
        <input type='hidden' name='redirect_to' value='https://scitronboy.github.io/thankyou.html' />
        
        <div class="form-group">
        <input type='text' class="form-control" name='name' placeholder="Your Name" />
        </div>

        <div class="form-group">
        <input type='email' class="form-control" name='email' placeholder="Your Email (for me to reply to)" />
        </div>
        
        <div class="form-group">
        <textarea type='text' rows="5" class="form-control" name='message' placeholder="Your Message" />
        </div>

        <div class="form-group">
        <input type='submit' class="btn btn-default" value='Send Message' />
        </div>
      </form>
      
      <p>You could also make a public comment on <a href="/random/2018/07/27/First-post.html">one of my blog posts</a></p>

      {% if site.contact_email %}
        {% if site.email contains '@' %}
          {% assign newemail = site.email | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      {% endif %}

    </div>
  </div>
</section>

<!-- Contact End -->
