
<!-- Contact Start -->

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2>Contact</h2>
      <p>Feedback about this site is much appreciated, as it is very new and I am still working on it.</p>
      <p>Please fill out the form below to contact me. If you  want me to reply back to you, leave your email in the Your Email field.</p>
      
      <form action="/thankyou" method="POST" name="contact" netlify>
        
        <div class="form-group">
        <input type='text' class="form-control" name='name' placeholder="Your Name" />
        </div>

        <div class="form-group">
        <input type='email' class="form-control" name='email' placeholder="Your Email" />
        </div>
        
        <div class="form-group">
        <textarea type='text' rows="5" class="form-control" name='message' placeholder="Your Message" required="required"/>
        </div>

        <!--<div class="form-group">
        <div data-netlify-recaptcha="true"></div>
        </div>-->
        
        <div class="form-group">
        <input type='submit' class="btn btn-default" value='Send Message' />
        </div>
      </form>
      
      <br/>
      <p>You could alternatively make a public comment on <a href="/other/2018/first-post">one of my blog posts</a> or <a href="https://github.com/scitronboy/scitronboy.github.io/issues/new/choose">file an issue on GitHub</a>.</p>

      {% if site.contact_email %}
        {% if site.email contains '@' %}
          {% assign newemail = site.email | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      {% endif %}

    </div>
  </div>
</section>

<!-- Contact End -->
