
<!-- Header Start -->

<header>
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="hidden"><u>Benjamin A.'s Blog</u></h1>
            <h2 class="brand-heading">&nbsp;</h2>
            <h2 class="brand-heading">&nbsp;</h2>
            <!--<div class="text-center lead text-muted">            
            <h2><u>Benjamin A.'s Blog</u></h2>
            </div>-->
          </div>
        </div>
    </div>
</header>

<!-- Header End -->
