 <!--WELCOME PAGE-->
<div class="home-parent">
  <div class="home-container">
    <div class="home-welcome">
      <div class="hello">Hello. I'm Benjamin Ashbaugh.</div>
      <div class="home-welcome-text">I'm a student, aspiring developer, programmer, and maker.</div>
    </div>
    
    {% include home-navigation.html %}
  </div>
</div>


<!-- ABOUT PAGE -->
<div id="about-page" class="home-about-page fullscreen-page">
  About Me
</div>

<!-- PORTFOLIO PAGE -->
<div id="portfolio-page" class="home-portfolio-page fullscreen-page">
  PORTFOLIO
</div>

<!-- CONTACT PAGE -->
<div id="contact-page" class="home-contact-page fullscreen-page">
  CONTACT
</div>

<a href="#" id="close-button" class="close-button-x"></a>