
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center no-top-margin">

        <h4>Latest Posts</h4>

        {% assign posts = site.posts %}
        {% for post in posts limit:5 %}
        <div class="row panel-custom">
        {% if post.image %}
        <div class="col-sm-4">
        <div class="post-thumbnail">
        <img class="img-responsive img-rounded" src="{{ post.image }}">
        </div>
        </div>
        <div class="col-sm-8">
        {% else %}
        <div class="col-sm-10 col-sm-offset-1">
        {% endif %}

            <h4> <strong> {{ post.date | date_to_string }} </strong>
            <small>.
                <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
                {{ post.category }}
                </a>
            .</small>
            <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
            <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
            </h4>
            
            <section class="text-justify text-muted">
            {{ post.content | strip_html  | truncatewords: site.post-preview-words}}
            <i><a href="{{site.baseurl}}{{ post.url }}">Continue Reading</a></i>
            
            </section>
        </div>
        </div>
        <br/>
        <br/>
        <br/>
        {% endfor %}
        
        {% if posts.size > 3 %}
        <h5><a href="/blog">More Posts</a></h5>
        {% endif %}
</section>

<!-- Latest Post Preview End -->
