
<!-- Navigation Start -->

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>
            {% if site.black-favicon %}
              <img src="{{site.baseurl}}{{ site.black-favicon }}" alt="lab glass image">
            {% endif %}
            {{ site.title }}
            <!--<h6 style="display: inline;"></h6>-->
          </div>
        </a>
    </div>
    </div>
</nav>
