
<!-- Navigation Start -->

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>
            {% if site.black-favicon %}
              <img src="{{site.baseurl}}{{ site.black-favicon }}" alt="">
            {% endif %}
            {{ site.title }}
            <h6 style="display: inline;"></h6>
          </div>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
          <!-- Scroll to section for each page in index -->
          {% for p in site.pages_list %}
            {% if p[0] != "Blog" %}
              <li>
              <a class="page-scroll" href="#{{ p[1] }}">{{ p[0] }}</a>
              </li>
            {% else %}
              <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              Blog</a>
              <ul class="dropdown-menu">
                <li><a href="/blog">All Posts</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Categories</li>
                {% for cat in site.categories %}
                <li><a href="/categories/{{ cat[0] | downcase}}">{{ cat[0] }} ({{ cat[1].size }})</a></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="/tags">All Tags</a></li>
              </ul>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- Navigation End -->
