
<!-- Navigation Start -->

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>
            {% if site.black-favicon %}
              <img src="{{site.baseurl}}{{ site.black-favicon }}" alt="lab glass image">
            {% endif %}
            {{ site.title }}
            <!--<h6 style="display: inline;"></h6>-->
          </div>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
          <!-- Scroll to section for each page in index -->
              
              <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#" tabindex="-1" id="blogddbutton">
              Blog<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/archive">All Posts</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Categories</li>
                {% for cat in site.categories %}
                <li><a href="/categories/{{ cat[0] | downcase }}">{{ cat[0] }} <span class="badge">{{ cat[1].size }}</span></a></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="/tags">All Tags</a></li>
                <li class="divider"></li>
                <li><a href="/">Recent Posts</a></li>
              </ul>
              </li>
              
          
              {% if page.section-type == "index" %}
              <li>
              <a href="#about" class="page-scroll">About Me</a>
              </li>
              <li>
              <a href="#contact" class="page-scroll">Contact Me</a>
              </li>
              {% else %}
              <li>
              <a href="/#about">About Me</a>
              </li>
              <li>
              <a href="/#contact">Contact Me</a>
              </li>
              {% endif %}
              
              <li>
                    <a href="https://github.com/scitronboy"
                    target="_blank">
                    <svg class="icon" viewBox="0 0 32 32"><path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"/></svg>
                    </a>
              </li>
      </ul>
    </div>
  </div>
</nav>

{% if site.testing-mode %}
<div class="container testmode-alert">
<div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Please Note!</strong> This website is currently in development and testing mode. This means that many features may not work properly. My site should be ready again within 4 hours. Thankyou!
</div>
</div>
{% endif %}

<!-- Navigation End -->
