<!--<div class="panel panel-info">
  <br/>
  <h5 class="no-bottom-margin">Subscribe for more projects, tutorials, reviews, and articles about arduino, raspberry pi, 3d printing, programming, python, making, and DIY.</h5>
  <small>You will never recieve more than one email per month, and you can unsubscribe anytime.</small>
  <div class="subscribe-form">
  <form action="https://app.mailjet.com/widget/iframe/3ohf/8Yg#" method="post">
        <input type='hidden' name='form' value='Subscribe Form' />
        
        <div class="form-group small-input">
        <input type='email' class="form-control" name='w-field-field-34488-162901-808309-email' placeholder="Your Email" required="required"/>
        </div>
        
        <div class="form-group">
        <input type='submit' class="btn btn-default" value='Subscribe' />
        </div>
  </form>
  </div>
</div> -->

<!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/3ohf/8Yg" width="100%" height="200"></iframe>-->

