
{% if site.enable-gesture-navigation %}
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "archive" %}
      You can navigate the archive pages by swiping left and right.
    {% elsif page.section-type == "post" %}
      You can switch to the previous or next post by swiping left or right (or click-dragging).
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "archive" %}
        Got it!
      {% elsif page.section-type == "post" %}
        Ok!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
{% endif %}
