// Variables

// Main color
$primary-color: #ffffff;

// Anchor color
$secondary-color: #3fba4f;

// Font color
$font-color: #000000;

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: #fff;
