
<!-- About Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top">

    {% include navigation.html %}

    {% include intro.html %}
        
    <section class="container content-section text-center">
    Benjamin A., aka scitroncd boy, is a 13-year old boy who loves science, technology, electronics, robotics, programming, 3d printing, reading, and making. He plays the violin and homeschools. He lives in Colorado with his family which includes his sister, his cat Lulu, and his dog Coco.

    He always has a messy workbench!
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- About Layout End -->
