
<!-- Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <p>This page has moved. If you are not redirected immediately, please change the <i>{{ site.site_redirect_from }}</i> in the URL of this page to <i>{{ site.site_redirect_to }}</i> to view this page on my new domain.<p>

<p>Or else <a href="https://{{ site.site_redirect_to }}">visit my new site</a>.</p>

<!--<script>
  if (window.location.host.startsWith("{{ site.site_redirect_from }}"))
    window.location.host = "{{ site.site_redirect_to }}"
</script>-->
    </section>

    {% include footer.html %}

  </body>
</html>

<!-- Layout End -->
