<!-- ABOUT PAGE -->
<div id="about-page" class="home-about-page fullscreen-page">
    <div class="fullscreen-page-container">
        <h2 class="fullscreen-page-title">About Me</h2>
        <p class="about-page-description">
            My name is Benjamin. I'm a student from Colorado interested in web development, deep learning, engineering, computational physics and more. I'm a self-taught programmer, 3d printing and maker-movement enthusiast, and science lover. I'm an active member of <a href="https://hackclub.com/">Hack Club</a>.
        </p>
        <div class="about-page-column-container">
            <div class="column">
                <h3>Experience</h3>
                <p>All skills listed below (except for Inventor & SolidWorks) were self-taught, using books & online tutorials.</p>
                <h5>Web Development</h5>
                <p>I know HTML, CSS, and JavaScript relatively well. I know Vue.js 2.0 and Nuxt, which is my favorite JS framework. I also know some TypeScript and React. As for server-side, I mostly use Node.js and Express.</p>
                <h5>Python</h5>
                <p>I've used Flask for web development and PyGame for some simple games. I've experimented with a bit of deep learning with keras - for example I created a model to detect how many fingers I was holding up using pictures from my Raspberry Pi camera. I've also used python for other Raspberry pi projects. </p>
                <h5>3d printing & Electronics</h5>
                <p>I know Autodesk Fusion 360 & Inventor; I am also SolidWorks certified in mechanical design at the level of Associate (CSWA). I also know Arduino basics and basic digital/analog electronics (for example I built a line-following robot and I'm familiar with H-bridge circuits, etc.).</p>
                <h5>Game Development</h5>
                <p>I know Unity and Blender basics. I'm fairly proficient with C# and I've started a few small 2d and 3d games in Unity with it. I've also dabbled in Unreal Engine 4 with C++.</p>
                <br><br>
                <!-- <p>Head over to my <a href="#portfolio">portfolio</a> to see some of my projects.</p> -->
                <!-- <a href="https://app.pluralsight.com/profile/benjamin-a" target="_blank"><h5>Pluralsight Skill IQ results</h5></a>
                <p>Python: 76th percentile</p>
                <p>JavaScript: 70th percentile</p>
                <p>HTML: 23rd percentile (not sure what happened there :p)</p>
                <p>CSS: 78th percentile</p> -->
            </div>
            <div class="column">
                <h4>Links</h4>
                <div class="about-links">
                    <a href="https://github.com/scitronboy" target="_blank">GitHub</a>
                    <a href="https://stackoverflow.com/users/8748307/scitronboy?tab=profile" target="_blank">Stack Overflow</a>
                    <a href="https://app.pluralsight.com/profile/benjamin-a" target="_blank">Pluralsight Skill IQ results</a>
                    <a href="https://raspberrypi.stackexchange.com/users/75152/scitronboy?tab=profile" target="_blank">Raspberry Pi Stack Exchange</a>
                    <a href="https://www.thingiverse.com/scitronboy/about" target="_blank">Thingiverse</a>
                    <a href="https://www.instructables.com/member/scitronboy/" target="_blank">Instructables</a>
                </div>
                <div class="badges">
                    <!-- <h5>Badges</h5> -->
                    <a href="https://stackexchange.com/users/11955944/scitronboy?tab=accounts"><img src="https://stackexchange.com/users/flair/11955944.png" width="208" height="58" alt="profile for scitronboy on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for scitronboy on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
                </div>
                <h4>Projects</h4>
                <p>Check out my <a href="#portfolio">portfolio</a> page to see some of my projects.</p>
            </div>
        </div>
    </div>
</div>
